@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<head>

</head>
<body>
    <div class="container">
    <div class="container d-flex justify-content-center">
    <h2>Hakkımızda</h2>
    </div>
    <div class="row">
        <div class="col-8 my-1"><img src="~/hastane.jpg" style="width:800px;"/></div>
        <div class="col-4  ">
            Sağlık Bakanlığı Sağlık Yatırımları Genel Müdürlüğü Kamu Özel Ortaklığı Daire Başkanlığı tarafından Gama Holding ve Türkerler Holding iş ortaklığıyla hayata geçirilecek Kocaeli Şehir Hastanesi’nin temeli bugün (20 Mayıs 2015, Perşembe) atıldı.

            Sağlık Bakanı Dr. Mehmet Müezzinoğlu ve Bilim, Sanayi ve Teknoloji Bakanı Fikri Işık’ın katılımıyla gerçekleşen Kocaeli Şehir Hastanesi Temel Atma Töreni’ne Kocaeli Valisi Hasan Basri Güzeloğlu, Kocaeli Belediye Başkanı İbrahim Karaosmanoğlu, milletvekilleri, GAMA Holding ve Türkerler Holding yöneticileri ile 5 bini aşkın davetli katıldı.
            Sağlık Bakanlığı Sağlık Yatırımları Genel Müdürlüğü Kamu Özel Ortaklığı Daire Başkanlığı tarafından Gama Holding ve Türkerler Holding iş ortaklığıyla hayata geçirilecek Kocaeli Şehir Hastanesi’nin temeli bugün (20 Mayıs 2015, Perşembe) atıldı.

            Sağlık Bakanı Dr. Mehmet Müezzinoğlu ve Bilim, Sanayi ve Teknoloji Bakanı Fikri Işık’ın katılımıyla gerçekleşen Kocaeli Şehir Hastanesi Temel Atma Töreni’ne Kocaeli Valisi Hasan Basri Güzeloğlu, Kocaeli Belediye Başkanı İbrahim Karaosmanoğlu, milletvekilleri, GAMA Holding ve Türkerler Holding yöneticileri ile 5 bini aşkın davetli katıldı.
           

        </div>
    </div>
        <div class="row my-5">
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="/hastane.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Hakkımızda</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="/hastane.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Hakkımızda</a>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img src="/hastane.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                    </div>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Hakkımızda</a>
                </div>
            </div>

        </div>
   </div>


</body>
</html>