@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Our Hospital</h1>
    <p>Learn about us <a href="http://www.kohas.com.tr" style="list-style:none">Kocaeli Şehir Hastanesi</a></p>
</div>
